@import "tailwindcss";

/* VARIABLES PERSONALIZADAS */
/* Agregá aquí solo las que realmente utilices */

/* MAPPING PARA TAILWIND V4 */
/* Definí los colores personalizados cuando los necesites */

@theme inline {
  --color-primary-text: #01233F;
  --color-text-secundary: #F9F9F9;
  --color-background: #D9D9D9;
  --color-shadow: #847770;
  --color-primary: #01233F;
  --color-secundary: #042E4C;
  --color-terciario: #EBEBEB;
}


/* DARK MODE */
@media (prefers-color-scheme: dark) {
  /* :root { */
    /* Agregá variables específicas si las necesitás */
  /* } */
}

/* BASE */
body {
  font-family: Arial, Helvetica, sans-serif;
}