/* /* @import "tailwindcss";

/* VARIABLES BASE */
:root {
  --primary: #01233F;
  --secondary: #1D4F91;
  --accet: #F3B705;
  --background: #F5F7FA;
  --surface: #FFFFFF;
  --text: #1C1B15;
  --text-muted: #788B91;
}

/* MAPPING PARA TAILWIND V4 */
@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accet: var(--accet);
  --color-background: var(--background);
  --color-surface: var(--surface);
  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #E4E4E4;
    --foreground: #ededed;
  }
}

/* BASE */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}